*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(24, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'roboto', sans-serif;
}
.container{
    width: 350px;
    height: auto;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.input input{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
}
.input i{
    background-color: white;
    padding: 8px 8px;
    border-radius: 50px;
    font-size: 17px;
}
.output{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.output img{
    width: 140px;
}
.output h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.output h3{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}
.col{
    display: flex;
    align-items: center;
    gap: 20px;
}
.col i img{
    width: 30px;
    height: 30px;
    
}
.col h5{
    color: white;
    font-size: 18px;
}
.col p{
    color: white;
    font-size: 17px;
}